<form [formGroup]="formularioUsuario" (ngSubmit)="crearUsuario()">
  <table>
    <tr>
      <td>Nombre : </td>
      <td>
        <input type="text" formControlName="nombre">
      </td>
      <td *ngIf="nombre.touched && formularioUsuario.controls['nombre'].errors?.required">
        Debe ingresar un nombre
      </td>
    </tr>
    <tr>
      <td>Apellido : </td>
      <td>
        <input type="text" formControlName="apellido">
      </td>
      <td *ngIf="apellido.touched && formularioUsuario.controls['apellido'].errors?.required">
        Debe ingresar un apellido
      </td>
    </tr>
    <tr>
      <td>Edad : </td>
      <td>
        <input type="number" formControlName="edad">
      </td>
      <td *ngIf="edad.touched && formularioUsuario.controls['edad'].errors?.required">
        Debe ingresar un edad
      </td>
    </tr>
    <tr>
      <td>Usuario : </td>
      <td>
        <input type="text" formControlName="usuario">
      </td>
      <td *ngIf="usuario.touched && formularioUsuario.controls['usuario'].errors?.required">
        Debe ingresar un usuario
      </td>
    </tr>
    <tr>
      <td>
        <button type="submit">Ingresar Nuevo Usuario</button>
      </td>
    </tr>
  </table>
</form>