<form #formUsuarios="ngForm" (ngSubmit)="crearUsuario();">
    <tr>
        <td>Nombre : </td>
        <td><input type="text" [(ngModel)]="usuario.nombre" ngModel name="nombre" id="nombre"></td>
    </tr>
    <tr>
        <td>Edad : </td>
        <td><input type="number" [(ngModel)]="usuario.edad" ngModel name="edad" id="edad"></td>
    </tr>
    <tr>
        <td>Sexo : </td>
        <td>
            <select [(ngModel)]="usuario.sexo" #sexo="ngModel" name="sexo">
            <option [value]="sexo" *ngFor="let sexo of sexoArreglo">{{ sexo }}</option>
          </select>
        </td>
    </tr>
    <tr>
        <td colspan="2"><button type="submit">Ingresar Usuario</button></td>
    </tr>
</form>

<p>
    {{formUsuarios.value | json}}
</p>