<form [formGroup]="formularioUsuario" (ngSubmit)="ingresarUsuario()">
    <table>
        <tr>
            <td>Nombre : </td>
            <td><input type="text" formControlName="nombre"></td>
            <td *ngIf="nombre.touched && formularioUsuario.controls['nombre'].errors?.required">
                Este valor es requerido
            </td>
            <td *ngIf="formularioUsuario.controls['nombre'].errors?.maxlength">
                El valor no puede tener mas de 15 caracteres
            </td>
            <td *ngIf="formularioUsuario.controls['nombre'].errors?.pattern">
                El valor solo acepta letras
            </td>
        </tr>
        <tr>
            <td>Apellido Paterno : </td>
            <td><input type="text" formControlName="apellidoPaterno"></td>
            <td *ngIf="formularioUsuario.controls['apellidoPaterno'].errors?.pattern">
                El valor solo acepta letras
            </td>
            <td *ngIf="apellidoPaterno.touched && formularioUsuario.controls['apellidoPaterno'].errors?.required">
                Este valor es requerido
            </td>
        </tr>
        <tr>
            <td>Apellido Materno : </td>
            <td><input type="text" formControlName="apellidoMaterno"></td>
            <td *ngIf="formularioUsuario.controls['apellidoMaterno'].errors?.pattern">
                El valor solo acepta letras
            </td>
        </tr>
        <tr>
            <td>Edad : </td>
            <td><input type="text" formControlName="edad"></td>
            <td *ngIf="formularioUsuario.controls['edad'].errors?.pattern">
                El valor solo acepta números
            </td>
            <td *ngIf="edad.touched && formularioUsuario.controls['edad'].errors?.required">
                Este valor es requerido
            </td>
        </tr>
        <tr>
            <td>Email : </td>
            <td><input type="text" formControlName="email"></td>
            <td *ngIf="email.touched && formularioUsuario.controls['email'].errors?.required">
                Este valor es requerido
            </td>
            <td *ngIf="formularioUsuario.controls['email'].errors?.pattern">
                Formato de correo incorrecto
            </td>
        </tr>
        <tr>
            <td>Deportes</td>
            <td>
                
            </td>
        </tr>
        <tr>
            <td><button type="submit">Añadir Usuario</button></td>
        </tr>
    </table>
</form>