<a [routerLink]="['libro/listar']">Listado de Libros</a>|
<a [routerLink]="['libro/crear']">Cargar Libros</a>|
<a [routerLink]="['venta/listar']">Venta de Libros</a>|
<a [routerLink]="['venta/carrito']">Carrito de Libros</a>

<div class="cierreSesion">
    <app-logout-usuario></app-logout-usuario>
</div>

<hr>
<router-outlet></router-outlet>