<form [formGroup]="formularioEdicionUsuario" (ngSubmit)="editarUsuario()">
    <tr>
        <td>Nombre</td>
        <td><input type="text" formControlName="nombre"></td>
        <td *ngIf="nombre.touched && formularioEdicionUsuario.controls['nombre'].errors?.required">
            Este valor es requerido
        </td>
        <td *ngIf="formularioEdicionUsuario.controls['nombre'].errors?.maxlength">
            El valor no puede tener mas de 15 caracteres
        </td>
        <td *ngIf="formularioEdicionUsuario.controls['nombre'].errors?.pattern">
            El valor solo acepta letras
        </td>
    </tr>
    <tr>
        <td>Apellido Paterno</td>
        <td><input type="text" formControlName="apellidoPaterno"></td>
        <td *ngIf="formularioEdicionUsuario.controls['apellidoPaterno'].errors?.pattern">
            El valor solo acepta letras
        </td>
        <td *ngIf="apellidoPaterno.touched && formularioEdicionUsuario.controls['apellidoPaterno'].errors?.required">
            Este valor es requerido
        </td>
    </tr>
    <tr>
        <td>Apellido Materno</td>
        <td><input type="text" formControlName="apellidoMaterno"></td>
        <td *ngIf="formularioEdicionUsuario.controls['apellidoMaterno'].errors?.pattern">
            El valor solo acepta letras
        </td>
    </tr>
    <tr>
        <td>Edad</td>
        <td><input type="text" formControlName="edad"></td>
        <td *ngIf="formularioEdicionUsuario.controls['edad'].errors?.pattern">
            El valor solo acepta números
        </td>
        <td *ngIf="edad.touched && formularioEdicionUsuario.controls['edad'].errors?.required">
            Este valor es requerido
        </td>
    </tr>
    <tr>
        <td>Email</td>
        <td><input type="text" formControlName="email"></td>
        <td *ngIf="email.touched && formularioEdicionUsuario.controls['email'].errors?.required">
            Este valor es requerido
        </td>
        <td *ngIf="formularioEdicionUsuario.controls['email'].errors?.pattern">
            Formato de correo incorrecto
        </td>
    </tr>
    <tr>
        <td>
            <button type="submit">Editar</button>
        </td>
        <td>
            <button (click)="redireccionarListado()">Cancelar</button>
        </td>
    </tr>
</form>