<form [formGroup]="formularioEdicion" (ngSubmit)="editarLibro()">
  <table>
    <tr>
      <td>Titulo :</td>
      <td><input type="text" formControlName="titulo"></td>
    </tr>
    <tr>
      <td>Precio :</td>
      <td><input type="text" formControlName="precio"></td>
    </tr>
    <tr>
      <td>Idioma :</td>
      <td><input type="text" formControlName="idioma"></td>
    </tr>
    <tr>
      <td>Cantidad :</td>
      <td><input type="text" formControlName="cantidad"></td>
    </tr>
    <tr>
      <td>ISBN :</td>
      <td><input type="text" formControlName="isbn"></td>
    </tr>
    <tr>
      <td>Descripcion :</td>
      <td><input type="text" formControlName="descripcion"></td>
    </tr>
    <tr>
      <td>Imagen :</td>
      <td><input type="text" formControlName="idImagen"></td>
    </tr>
    <tr>
      <td><button type="submit">Ingresar Nuevo Libro</button></td>
    </tr>
  </table>
</form>