<form [formGroup]="formularioResta" (ngSubmit)="resta()">
    <table>
        <tr>
            <td>Numero 1 : </td>
            <td>
                <input type="text" formControlName="primerNumero">
            </td>
        </tr>
        <tr>
            <td>Numero 2 : </td>
            <td>
                <input type="text" formControlName="segundoNumero">
            </td>
        </tr>
        <tr>
            <button type="submit">Restar Numeros</button>
        </tr>
    </table>
</form>