<table>
    <tr>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>Edad</th>
        <th>Email</th>
        <th>Acciones</th>
    </tr>
    <tr *ngFor="let usuario of usuarios">
        <td>{{usuario.nombre}}</td>
        <td>{{usuario.apellidoPaterno}}</td>
        <td>{{usuario.apellidoMaterno}}</td>
        <td>{{usuario.edad}}</td>
        <td>{{usuario.email}}</td>
        <td>
            <button (click)="eliminarUsuario(usuario.id)">Eliminar</button>
            <button (click)="redireccionarUsuario(usuario.id)">Editar</button>
        </td>
    </tr>
</table>