<h1>Carrito</h1>
<hr>
<table>
    <tr>
        <th>Titulo</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>total</th>
    </tr>
    <tr *ngFor="let libro of listaLibros">
        <td>{{libro.titulo}}</td>
        <td>{{libro.precio}}</td>
        <td>{{libro.cantidad}}</td>
        <td>{{libro.cantidad * libro.precio}}</td>
    </tr>
</table>