<form [formGroup] = "formularioSuma" (ngSubmit)="suma()">

  <table>
    <tr>
      <td>Número 1 : </td>
      <td>
        <input type="number" formControlName="primerNumero">
      </td>
    </tr>
    <tr>
      <td>Número 2 : </td>
      <td>
        <input type="number" formControlName="segundoNumero">
      </td>
    </tr>
    <tr>
      <td>
        <button type="submit">Sumar</button>
      </td>
    </tr>
  </table>

</form>

<h1>{{ totalSuma }}</h1>