<form [formGroup]="formularioLogin" (ngSubmit)="loginUsuario()">

    <table>
        <tr>
            <td>Usuario : </td>
            <td>
                <input type="text" formControlName="usuario">
            </td>
        </tr>
        <tr>
            <td>Contraseña : </td>
            <td>
                <input type="text" formControlName="contrasena">
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit"> Inisio Sesion </button>
            </td>
        </tr>
    </table>

</form>