<form [formGroup]="formLoginUser" (ngSubmit)="loginUser()">
    <table>
        <tr>
            <td>Email : </td>
            <td><input type="text" formControlName="email"></td>
            <td class="validador" *ngIf="email.touched && this.formLoginUser.controls['email'].errors?.required">
                El email es requerido
            </td>
            <td *ngIf="email.touched && this.formLoginUser.controls['email'].errors?.pattern">
                El formato del correo es incorrecto
            </td>
        </tr>
        <br>
        <tr>
            <td>Contraseña : </td>
            <td><input type="password" formControlName="password"></td>
            <td class="validador" *ngIf="password.touched && this.formLoginUser.controls['password'].errors?.required">
                La contraseña es requerida
            </td>
        </tr>
        <br>
        <tr>
            <td colspan="2"><button type="submit">Login</button></td>
        </tr>
    </table>
</form>