<form [formGroup]="formUsuario" (ngSubmit)="crearUsuario()">

  <tr>
    <td>Nombre : </td>
    <td><input type="text" formControlName="nombre" id="nombre" /></td>
  </tr>
  <tr>
    <td>Edad : </td>
    <td><input type="number" formControlName="edad" id="edad" /></td>
  </tr>
  <tr>
    <td colspan="2"><button type="submit"> Crear Usuario </button></td>
  </tr>
</form>

<p>
  {{ formUsuario.value | json }}
</p>

<!-- listado o arreglo de todos los controles que tiene el formulario -->
Valid : {{ formUsuario.controls.nombre.valid }}
<br>
Invalid : {{ formUsuario.controls.nombre.invalid }}
<br>
Pristine : {{ formUsuario.controls.nombre.pristine }} <!-- inmaculado, nunca se ingreso nada -->
<br>
Dirty : {{ formUsuario.controls.nombre.dirty }} <!-- es sucio, se ingreso algo -->
<br>
Touched : {{ formUsuario.controls.nombre.touched }} <!-- Acción de salida -->
<br>
Untouched : {{ formUsuario.controls.nombre.untouched }} <!-- no se a tocado -->
<br>
Error reqiured : {{ formUsuario.controls.nombre.errors?.required }} <!-- requerido -->
<br>
Error minLength : {{ formUsuario.controls.nombre.errors?.minlength.requiredLength}} <!-- da el valor con el que se debe comparar actualLength el actual -->
<br>
Error maxLength : {{ formUsuario.controls.nombre.errors?.maxlength.requiredLength}} <!-- ? si no hay errores no se genera el error -->

<p *ngIf="formUsuario.controls.nombre.errors?.required">Nombre es requerido</p>
<p *ngIf="formUsuario.controls.nombre.errors?.minlength">Nombre debe tener minimo 3 caracteres faltan {{formUsuario.controls.nombre.errors?.minlength.requiredLength - formUsuario.controls.nombre.errors?.minlength.actualLength}}</p>
<p *ngIf="formUsuario.controls.nombre.errors?.maxlength">Nombre debe tener maximo 10 caracteres sobran {{formUsuario.controls.nombre.errors?.maxlength.actualLength - formUsuario.controls.nombre.errors?.maxlength.requiredLength}}</p>
