<a [routerLink]="['user/login']">Login</a> |
<a [routerLink]="['user/list']">List</a> |
<a [routerLink]="['user/create']">Create</a>

<div class="logout">
    <button (click)="logout()">Logout</button>
</div>