<form [formGroup]="formularioUsuariosAEditar" (ngSubmit)="crearUsuario()">
  <tr>
      <td>Nombre :</td>
      <td><input type="text" formControlName="nombre" id="nombre"></td>
      <td *ngIf="nombre.touched && nombre.errors?.required" style="color: red">* Valor requerido</td>
      <td *ngIf="nombre.errors?.maxlength" style="color: red">
          El maximo de letras a ingresar es de 15
      </td>
      <td *ngIf="formularioUsuarios.controls['nombre'].errors?.pattern" style="color: red">
          * Solo ingrear letras
      </td>
  </tr>
  <tr>
      <td>Apellido Paterno :</td>
      <td><input type="text" formControlName="apellidoPaterno"></td>
      <td *ngIf="apellidoPaterno.touched && apellidoPaterno.errors?.required" style="color: red">* Valor requerido</td>
      <td *ngIf="apellidoPaterno.errors?.pattern" style="color: red">
          * Solo ingrear letras
      </td>
  </tr>
  <tr>
      <td>Apellido Materno :</td>
      <td><input type="text" formControlName="apellidoMaterno"><br></td>
      <td *ngIf="apellidoMaterno.errors?.pattern" style="color: red">
          * Solo ingrear letras
      </td>
  </tr>
  <tr>
      <td>Edad :</td>
      <td><input type="text" formControlName="edad"></td>
      <td *ngIf="edad.touched && edad.errors?.required" style="color: red">* Valor requerido</td>
      <td *ngIf="edad.errors?.pattern" style="color: red">
          * Solo ingrear números
      </td>
  </tr>
  <tr>
      <td>Email :</td>
      <td><input type="email" formControlName="email"></td>
      <td *ngIf="email.touched && email.errors?.required" style="color: red">* Valor requerido</td>
      <td *ngIf="email.touched && email.errors?.pattern" style="color: red">* Email invalido</td>
  </tr>
  <tr>
      <button type="submit">Añadir Usuario</button>
  </tr>
</form>