<form [formGroup]="formNewUser" (ngSubmit)="createUser()">
    <tr>
        <td>Email : </td>
        <td><input type="text" formControlName="email"></td>
        <td class="validador" *ngIf="email.touched && this.formNewUser.controls['email'].errors?.required">
            El email es requerido
        </td>
        <td *ngIf="email.touched && this.formNewUser.controls['email'].errors?.pattern">
            El formato del correo es incorrecto
        </td>
    </tr>
    <tr>
        <td>Pasword : </td>
        <td><input type="password" formControlName="password"></td>
        <td class="validador" *ngIf="password.touched && this.formNewUser.controls['password'].errors?.required">
            La contraseña es requerida
        </td>
    </tr>
    <tr>
        <td><button type="submit">Ingresar nuevo usuario</button></td>
    </tr>
</form>