<form #formUsuario="ngForm" (ngSubmit)="crearUsuario()">
    <table>
        <tr>
            <td>Nombre : </td>
            <td><input type="text" [(ngModel)]=usuario.nombre ngModel name="nombre" id="nombre"></td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit" [disabled]="!formUsuario.form.valid">Ingresar Usuario</button></td>
        </tr>
    </table>
</form>

<p>{{ formUsuario.value | json}}</p>