<app-formulario-nuevo-usuario (agregarNuevoUsuario)="agregarAlListado($event)" ></app-formulario-nuevo-usuario>
<br>
<hr>
<br>
<table>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Edad</th>
    <th>Usuario</th>
  </tr>
  <tr *ngFor="let usuario of listadoUsuarios">
    <td>{{ usuario.nombre }}</td>
    <td>{{ usuario.apellido }}</td>
    <td>{{ usuario.edad }}</td>
    <td>{{ usuario.usuario }}</td>
  </tr>
</table>