<a [routerLink]="['ejemplo/inicio']" > Inicio ejemplo </a>
|
<a [routerLink]="['ejemplo/ver']" > Ver ejemplo </a>
|
<a [routerLink]="['ejemplo/sobre']" > Sobre ejemplo </a>

<router-outlet></router-outlet>
