<table>
    <tr>
        <th class="tabla">Email</th>
        <th class="tabla">Password</th>
    </tr>
    <tr *ngFor="let usuario of listadoUsuarios">
        <td class="tabla">{{usuario.email}}</td>
        <td class="tabla">{{usuario.password}}</td>
    </tr>
</table>