<app-crear-usuario (agregarUsuario)="agregarAlListado($event)"></app-crear-usuario>
<br><br>
<table>
    <tr>
        <th>Nombre </th>
        <th>Apellido Paterno </th>
        <th>Apellido Materno </th>
        <th>Edad </th>
        <th>Email </th>
        <th>Acción </th>
    </tr>
    <tr *ngFor="let usuario of listadoDeUsuarios">
        <td>{{usuario.nombre}}</td>
        <td>{{usuario.apellidoPaterno}}</td>
        <td>{{usuario.apellidoMaterno}}</td>
        <td>{{usuario.edad}}</td>
        <td>{{usuario.email}}</td>
        <td><button (click)="eliminarUsuario(usuario.id)">Eliminar</button>
        <button (click)="redireccionarAEditar(usuario.id)">Editar</button></td>
    </tr>
</table>
