<form [formGroup]="formUsuario" (ngSubmit)="listadoUsuarios()">
    <table>
        <tr>
            <td>Nombre : </td>
            <td><input type="text" formControlName="nombre" id="nombre"></td>
            <td *ngIf="formUsuario.controls.nombre.errors?.required" style="color:red">Debe ingresar un nombre</td>
            <td *ngIf="formUsuario.controls.nombre.errors?.minlength" style="color:red">El valor minimo a ingresar es de 3, lleva {{ formUsuario.controls.nombre.errors?.minlength.requiredLength - formUsuario.controls.nombre.errors?.minlength.actualLength }}</td>
            <td *ngIf="formUsuario.controls.nombre.errors?.maxlength" style="color:red">El valor maximo a ingresar es de 10, sobran {{ formUsuario.controls.nombre.errors?.maxlength.actualLength - formUsuario.controls.nombre.errors?.maxlength.requiredLength }}</td>
        </tr>
        <tr>
            <td>Edad : </td>
            <td><input type="number" formControlName="edad" id="edad"></td>
            <td *ngIf="formUsuario.controls.edad.errors?.required" style="color:red">Debe ingresar la edad</td>
        </tr>
        <tr>
            <td>Sexo</td>
            <td>
                <select formControlName="sexo" id="sexo">
                    <option [value]="valorSexo" *ngFor="let valorSexo of sexo" > {{ valorSexo }} </option>
                </select>
            </td>
            <td *ngIf="formUsuario.controls.sexo.errors?.required" style="color:red">Debe seleccionar un sexo</td>
        </tr>
        <tr>
            <td><button type="submit">Ingresar Usuario</button></td>
        </tr>
    </table>
</form>

<div *ngIf="listado?.length > 0">
    <tr>
        <td> Nombre </td>
        <td> Edad </td>
        <td> Sexo </td>
        <td> Estado edad </td>
    </tr>
    <tr *ngFor="let usuario of listado">
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.edad }}</td>
        <td>{{ usuario.sexo }}</td>
        <td> {{ usuario.edad | validacionEdad }} </td>
    </tr>
</div>