<table>
  <tr>
    <th>Titulo</th>
    <th>Precio</th>
    <th>Cantidad</th>
    <th>Idioma</th>
    <th>Acciones</th>
  </tr>
  <tr *ngFor="let libro of listadoLibros">
    <td>{{libro.titulo}}</td>
    <td>{{libro.precio}}</td>
    <td>{{libro.cantidad}}</td>
    <td>{{libro.idioma}}</td>
    <td>
      <button (click)="eliminarLibro(libro.id)">Eliminar</button>
      <button (click)="editarLibro(libro.id)">Editar</button>
    </td>
  </tr>
</table>